@import url("https://fonts.googleapis.com/css?family=Work+Sans:700,800,900&display=swap");

body {
  overflow-y: hidden;
  overflow-x: hidden;
}
.transform {
  transition: 0.2s all;
}
div[role="group"][tabindex] {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
