@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Vollkorn:400,600,700,900&display=swap");
* {
	font-family: "Vollkorn", serif;
}
html {
	overflow: scroll;
	overflow-x: hidden;
}
::-webkit-scrollbar {
	width: 0px; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: #ff0000;
}
.font__work-sans {
	font-family: "Work Sans", sans-serif;
}
.transform {
	transition: 0.4s all;
}
body {
	overflow: hidden;
}
div[role="group"][tabindex] {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.link-hover {
	-webkit-transition: all .6s ease;
	transition: all .6s ease;
}
.link-hover:after {
	content: "";
	position: absolute;
	height: 5px;
	top: 50%;
	background-color: #00d99e;
	width: 0;
	bottom: 0;
	left: 0;
	-webkit-transition: .6s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
	transition: .6s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.link-hover:hover:after {
	width: 100%;
}
